version: "3.9"

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: incu
      POSTGRES_PASSWORD: incu
      POSTGRES_DB: incu
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U incu -d incu"]
      interval: 3s
      timeout: 3s
      retries: 10
    volumes:
      - dbdata:/var/lib/postgresql/data

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    restart: unless-stopped

  web:
    build: ./frontend/pwa
    depends_on:
      - api
    expose:
      - "5173"
    # quita el "ports: 5173:5173" si solo se usará detrás de nginx

    nginx:
      image: nginx:alpine
      container_name: incubadora-nginx
      depends_on:
        - web
        - api
      ports:
        - "80:80"
      volumes:
        - ./ops/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
        # - ./ops/nginx/certs:/etc/nginx/certs:ro  # solo si luego vas a usar HTTPS
      networks:
        - default

  networks:
    default:
      driver: bridge

volumes:
  dbdata:
